html {
    background-image: url(img/Slide\ 16_9\ -\ 1.svg);
    background-size: cover;
    height: 100%;
}

@font-face {
    font-family: Monstserrat;
    src: url(fonts/MontserratAlternates-Regular.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
}

.burger {
    display: none;
}

.menu {
    display: none;
}

h1 {
    padding: 20px;
    color: #4C1F30;
    font-family: Monstserrat;
}

.rectangle {
    border: 3px solid;
    margin: auto;
    padding: 15px;
    background-color: #933257;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 40px 40px 40px 40px;
}

.lab {
    color: #ffffff;
    font-size: 18px;
    font-family: Monstserrat;
}

.button {
    padding: 10px;
    border-radius: 40px 40px 40px 40px;
    font-family: Monstserrat;
}

.navigation {
    display: flex;
    padding: 22px;
    font-size: 25px;
    background-color: #933257;
    justify-content: center;
}

.task_result {
    padding: 15px;
    color: #ffffff;
    font-size: 18px;
}

a {
    text-decoration: none;
    padding-left: 35px;
    padding-right: 35px;
    color: #ffffff;
    font-family: Monstserrat;
}

form {
    flex-direction: row;
    align-items: center;
    padding: 15px;
    flex: 1;
}

.photo {
    width: 100%;
    height: auto;
}

input {
    font-family: Monstserrat;
}

label {
    padding-right: 5px;
    padding-left: 5px;
}

footer {
    background-color: #933257;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.rectangle_bot {
    background-color: #933257;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.bot_text {
    color: #ffffff;
    font-size: 15px;
    font-family: Monstserrat;
    padding: 10px;
}


@media (max-width: 992px) {

    .navigation {
        display: none;
    }

    .mobile_navigation {
        display: flex;
        padding: 20px;
        font-size: 25px;
        border: 2px solid #933257;
        background-color: #933257;
    }

    form {
        padding: 10px;
        flex: 1;
    }

    .mobile_fix {
        display: flex;
        flex-direction: column;
    }

    .active {
        display: block;
    }

    .burger {
        display: block;
    }

    .logo {
        padding-right: 300px;
    }

    footer {
        background-color: #933257;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .rectangle_bot {
        background-color: #933257;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}