html {
    background-image: url(img/Slide\ 16_9\ -\ 1.svg);
    background-size: cover;

}

@font-face {
    font-family: Monstserrat;
    src: url(fonts/MontserratAlternates-Regular.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 50px;
    color: #4C1F30;
    font-family: Monstserrat;
}

.rectangle {
    border: 3px solid;
    margin: auto;
    padding: 15px;
    background-color: #933257;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 40px 40px 40px 40px;
}

.lab {
    color: #ffffff;
    font-size: 18px;
    font-family: Monstserrat;
}

.button {
    padding: 10px;
    border-radius: 40px 40px 40px 40px;
    font-family: Monstserrat;
}

.navigation {
    display: flex;
    padding: 20px;
    font-size: 25px;
    border: 2px solid #933257;
    background-color: #933257;
}

a {
    text-decoration: none;
    padding-left: 35px;
    padding-right: 35px;
    color: #ffffff;
    font-family: Monstserrat;
}

form {
    flex-direction: row;
    align-items: center;
    padding: 15px;
    flex: 1;
}

img {
    width: 100%;
    height: auto;
}

input {
    font-family: Monstserrat;
}

label {
    padding-right: 5px;
    padding-left: 5px;
}

.task_result {
    padding: 15px;
    color: #ffffff;
    font-size: 18px;
}