html {
    background-image: url(img/Slide\ 16_9\ -\ 1.svg);
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 50px;
    color: #4C1F30;
}

.rectangle {
    border: 3px solid;
    margin: auto;
    padding: 20px;
    background-color: #933257;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 40px 40px 40px 40px;
}

.lab {
    color: #ECF479;
}

.button {
    padding: 10px;
    border-radius: 40px 40px 40px 40px;

}